<div class="charts-city">
	<!-- Pie chart for waste composition -->

    <div id="compContainer">
        <div id="comparisonContainer">
            <canvas id="monthlyComparison" width="700" height="500"></canvas>
        </div>
        <div id="challengeNeighbor">
            <div id="noChallenges">
                <br>
                <h3>You currently have no challenges!</h3>
                <br><br>
                <input placeholder="enter username" type="text" class="css-input" value="">
                <a href="#" class="challenger">Challenge A Friend</a>
                <br><br><br>
                <br><br>
                <h5>Challenge your neighbors and <br> friends to see who can waste <br> the LEAST for next month!</h5>
            </div>
            <div id="hasChallenges">
                <h3>You vs Other</h3> <br>
                <div id="comparisonContainer">
                    <canvas id="donut" width="300" height="300"></canvas>
                </div>
            </div>

        </div>

    </div>


    <div class="dropdown" id="monthDropdown">
        <select id="monthDropdownSelect">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
        </select>
    </div>
</div>