<div class="charts-city">
	<!-- Pie chart for waste composition -->

    <div id="compContainer">
        <div id="comparisonContainer">
            <canvas id="monthlyComparison" width="700" height="500"></canvas>
        </div>
        <div id="challengeNeighbor">

        </div>
    </div>

    <div class="dropdown" id="monthDropdown">
        <select id="monthDropdownSelect">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
        </select>
    </div>
</div>