<div class="charts-home">

	<!--<button class="tipButton" value="Tips" onclick="showTips()">Tips</button>-->

	<!-- Line graph for resident's waste trends -->
	<!--<div class="home-waste-history">-->
		<!--<h1>Your Waste History</h1>-->
		<!--<h4>The pounds of waste you've tossed</h4>-->
		<!--<h4>over the past year</h4>-->
	<!--</div>-->

    <canvas id="myChart" width="200" height="100"></canvas>

	<!-- Bar graph for neighborhood comparison -->
	<!--<div class="home-neighbor-comparison">-->

		<!--<h1>Your Neighborhood Comparison</h1>-->
		<!--<h4>This month's waste output compared to your neighbors,<br> and the most efficient residents <br>in your city.</h4>-->
	<!--</div>-->

         <!--<span class="custom-dropdown custom-dropdown--small">-->
            <!--<select id="custom-dropdown" class="custom-dropdown__select custom-dropdown__select--red">-->
                <!--<option>This month (March) </option>-->
                <!--<option>Last month (February) </option>-->
                <!--<option>January </option>-->
                <!--<option>December</option>-->
                <!--<option>November</option>-->
            <!--</select>-->
        <!--</span>-->

	<!--<div class="calculator" ng-controller="MainController as main">-->
		<!--<input type="text" ng-model="trashWeight" placeholder="Enter your goal">-->
		<!--<p>Your trash usage this month is 56 lbs.</p>-->
		<!--<p>If you reduced it by {{ reduce(trashWeight) }}, you can save ${{ savings(reduce(trashWeight)) }}</p>-->

		<!--<button>Reset</button>-->
	<!--</div>-->
</div>