<div class="charts-city">
	<!-- Pie chart for waste composition -->
	<div class="city-waste-types"></div>
	<!-- Pie chart for waste reduction breakdown -->
	<div class="city-waste-reduction-options"></div>
	<!-- Pie chart for waste destinations -->
	<div class="city-waste-destinations"></div>
</div>