<div class="charts-home">
	<!-- Line graph for resident's waste trends -->
	<div class="home-waste-history"></div>
	<!-- Bar graph for neighborhood comparison -->
	<div class="home-neighbor-comparison"></div>
</div>