<div class="charts-country">

    <div id="map-row">
        <div id="map" style="width: 600px; height: 550px;"></div>
        <div id="hover-div" style="width: 220px; height: 150px;">
            <div class="hover-text" id="hover-state"> </div>
            <div class="hover-text" id="hover-pop"> </div>
            <div class="hover-text" id="hover-income"> </div>
            <div class="hover-text" id="hover-age"> </div>
            <div class="hover-text" id="hover-poverty"> </div>
            <div class="hover-text" id="hover-unemployed"> </div>
        </div>
    </div>
    <div id="clicked-div">
        <div class="click-text" id="click-state">Click on a state to see its statistics</div>
        <table id="state-table" style="width:90%">
            <tr>
                <td id="r1"></td>
                <td id="r2"></td>
                <td id="r3"></td>
            </tr>
            <tr>
                <td id="r4"></td>
                <td id="r5"></td>
                <td id="r6"></td>
            </tr>
            <tr>
                <td id="r7"></td>
                <td id="r8"></td>
                <td id="r9"></td>
            </tr>
            <tr>
                <td id="r10"></td>
                <td id="r11"></td>
                <td id="r12"></td>
            </tr>
            <tr>
                <td id="r13"></td>
                <td id="r14"></td>
                <td id="r15"></td>
            </tr>
        </table>
    </div>
</div>