<div class="charts-country">

    <h1>Country Waste Breakdown</h1>
    <h4>Comparisons of waste data state by state </h4>

    <div id="map-row">
        <div id="map" style="width: 500px; height: 550px;"></div>
    </div>

    <div id="hover-div" style="width: 220px; height: 150px;">
        <div id="hover-state"></div>
        <div class="hover-text" id="hover-pop"> </div>
        <div class="hover-text" id="hover-income"> </div>
        <div class="hover-text" id="hover-age"> </div>
        <div class="hover-text" id="hover-poverty"> </div>
        <div class="hover-text" id="hover-unemployed"> </div>
    </div>

 </div>
