<div class="charts-city">
	<!-- Pie chart for waste composition -->
	<div class="city-waste-types">
		<h1>Waste Types</h1>
		<h4>A breakdown of the types of trash</h4>
		<h4>your city tossed this year</h4>
	</div>
	<!-- Pie chart for waste reduction breakdown -->
	<div class="city-waste-reduction-options">
		<h1>???</h1>
	</div>
	<!-- Pie chart for waste destinations -->
	<div class="city-waste-destinations">
		<h1>Waste Destinations</h1>
		<h4>How much of your city's waste</h4>
		<h4>went to each waste facility.</h4>

	</div>
</div>