<link rel='stylesheet' href='/stylesheets/dashstyle.css' />

<div class="dashboard">
	<div class="header">
		<h1 class="title"><%= title %></h1>
	</div>


	<div class="navbar">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</div>
</div>