<link rel='stylesheet' href='/stylesheets/dashstyle.css' />

<div class="dashboard">
	<div class="header">
		<h1 class="title"><%= title %></h1>
	</div>


	<div class="navbar">
		<ul>
			<li><a href="javascript:void(0)" onclick="showHome();">Home</a></li>
			<li><a href="javascript:void(0)" onclick="showSettings();">Settings</a></li>
			<li><a href="javascript:void(0)" onclick="showTips();">Tips</a></li>
		</ul>
	</div>
</div>