<link rel='stylesheet' href='/stylesheets/dashstyle.css' />

<!-- <div class="dashboard"> -->
	<div class="navbar">
		<ul>
			<li id="home-tab"><a href="javascript:void(0)" onclick="showHome();">Home</a></li>
			<li id="city-tab"><a href="javascript:void(0)" onclick="showCity();">City</a></li>
			<li id="country-tab"><a href="javascript:void(0)" onclick="showCountry();">Country</a></li>
			<li id="settings-tab"><a href="javascript:void(0)" onclick="showSettings();">Settings</a></li>
			<!--<li><a href="javascript:void(0)" onclick="showTips();">Tips</a></li> -->
		</ul>
	</div>
	<div class="header">
		<h1 class="title"><%= title %></h1>
	</div>
<!-- </div> -->