<link rel='stylesheet' href='/stylesheets/dashstyle.css' />
<link rel='stylesheet' href='/bower_components/sweetalert/dist/sweetalert.css' />


<!-- <div class="dashboard"> -->
	<div class="navbar">
		<ul id="top-menu">
			<li onclick="showHome();" id="home-tab"><a href="javascript:void(0)">Home</a></li>
			<li onclick="showCity();" id="city-tab"><a href="javascript:void(0)">City</a></li>
			<li onclick="showCountry();" id="country-tab"><a href="javascript:void(0)">Country</a></li>
		</ul>
		<ul id="bottom-menu">
			<hr>
            <li onclick="showBilling();" id="billing-tab"><a href="javascript:void(0)">Billing</a></li>
            <li onclick="showSettings();" id="settings-tab"><a href="javascript:void(0)">Settings</a></li>
		</ul>
	</div>
	<div class="header">
		<h1 class="title"><%= title %></h1>
        <a id="challengeButton" onclick="showChallengeNeighbor()">Challenge a Neighbor</a>
	</div>
<!-- </div> -->