<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>

  </head>

  <body>

  <button id="login" type="button">Click Me!</button>

  <script type="text/javascript" src="javascripts/login.js"></script>
  </body>

</html>
