<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="bower_components/epoch/dist/css/epoch.css">

      <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
      <script src="/bower_components/d3/d3.js" type="text/javascript"></script>
      <script src="/bower_components/epoch/dist/js/epoch.js" type="text/javascript"></script>

      <script src="javascripts/bargraph.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="barChart" style="width: 300px; height: 100px"></div>
    <div id="test"></div>

  </body>
</html>
