<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
      <script src="javascripts/bargraph.js" type="text/javascript"></script>
  </head>
  <body id="test">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
