<div class=charts>
	<!-- Bar graph for neighborhood comparison -->
	<div class="neighborhood-comparison"></div>
	<!-- Pie chart for waste composition -->
	<div class="waste-comp"></div>
	<!-- Pie chart for waste reduction breakdown -->
	<div class="waste-reduction"></div>
	<!-- Pie chart for waste destinations -->
	<div class="waste-destinations"></div>
	<!-- Line graph for resident's waste trends -->
	<div class="line-graph"></div>
</div>