@import "_chartist-settings.scss";
@import "../../bower_components/chartist/dist/scss/chartist.scss";

body {
	margin: 0px;
	padding: 0px;
	position: relative;
}
.dashboard {
	position: fixed;
	/*width: 100%;*/
	/*height: 100%;*/
}

.header {
	width: 100%;
	position: fixed;
	display: block;
	background-color: #F4C63D;
	padding: 1%;
	top: 0;
}

.title {
	margin: 0;
}

.navbar {
	position: fixed;
	height: 100%;
	width: 10%;
	display: inline-block;
	background-color: #212626;
	top: 0;
	padding-top: 6%
}

ul {
	list-style-type: none;
	height: 100%;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

li:hover {
	background-color: black;
}

li {
	margin: 0 auto;
	display: block;
	margin-top: 20%;
	font-size: 1.25vw;
	text-align: center;
	margin-left: 8%;
	margin-right: 8%;
	height: 4%;
	padding-top: 6%;
}