@import "_chartist-settings.scss";
@import "../../bower_components/chartist/dist/scss/chartist.scss";

body {
  padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

a {
  /*color: #00B7FF;*/
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thickness of your lines */
  stroke-width: 5px;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: red;
  /* The width of your bars */
  stroke-width: 40px;
}

.ct-text {
	size: 50px; 
}

div {
	display: inline-block;
  /*vertical-align: middle;*/
	/*position: relative;*/
}

/* Tab One */
.charts-home {
  margin-top: 5%;
  margin-left: 11%;
  display: inline-block;
  position: relative;
}

.home-waste-history {
  padding: 20px;
}

.home-neighbor-comparison {
  padding: 20px;
}

.tipButton {
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  background-color: #212626;
  border: none;
  outline: none;
  position: absolute;
  top: 7px;
  right: 35px;
}

.tipButton:hover {
    background-color: black;
}

/* Tab Two */
.charts-city {
  margin-top: 7%;
  margin-left: 15%;
  display: none;
}

.city-waste-types {
  padding: 20px;
}

.city-waste-reduction-options {
  padding: 20px;
}

.city-waste-destinations {
  padding: 20px;
}

/* Tab Three*/
.charts-country {
  display: none;
}

