/*@import "_my-chartist-settings.scss";*/
/*@import "../../bower_components/chartist/dist/scss/chartist.scss";*/

body {
  padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

a {
  /*color: #00B7FF;*/
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 5px;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: red;
  /* The width of your bars */
  stroke-width: 40px;
}

.ct-text {
	size: 50px; 
}

.charts {
	position: absolute;
	width: 90%;
	height: 75%;
	top: 25%;
}

/*top middle pie chart*/
.waste-reduction {
	position: absolute;
	left: 43%;

}

.line-graph {
	position: absolute;
	left: 45%;
	top: 70%;
}

/*bottom left pie chart*/
.waste-comp {
	position: absolute;
	top: 65%;
}

/*top right pie chart*/
.waste-destinations {
	position: absolute;
	left: 75%;
}

.neighborhood-comparison {
	position: absolute;
}