/*@import "_my-chartist-settings.scss";*/
/*@import "../../bower_components/chartist/dist/scss/chartist.scss";*/

body {
  padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

a {
  /*color: #00B7FF;*/
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 5px;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: red;
  /* The width of your bars */
  stroke-width: 40px;
}

.waste-reduction {
	position: absolute;
	top: 120px;
	right: 350px;
	width: 600px;
}

.line-graph {
	position: absolute;
	top: 525px;
	left: 650px;
}

.waste-comp {
	position: absolute;
	left: 150px;

}

.waste-destinations {
	position: absolute;
	right: 50px;
	top: 120px;
}

.neighborhood-comparison {
	width: 300px;
}